<div class="footer">
  <div class="footer-top">
    <h3>Rejoins nous sur les réseaux !</h3>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
  </div>
  <div class="footer-middle">
    <div class="footer-cta">
      <h2>FoodClass.</h2>
      <h5>Inscris-toi à notre newsletter</h5>
      <p>Chaque mois, suivez les nouveautés de FoodClass et une recette exclusive d'un chef</p>

      <form class="row row-cols-lg-auto g-3 align-items-center">
        <div class="col-8">
          <label class="visually-hidden" for="inlineFormInputGroupUsername">Username</label>
          <div class="input-group">
            <div class="input-group-text">@</div>
            <input type="text" class="form-control" id="inlineFormInputGroupUsername" placeholder="Email">
          </div>
        </div>

        <div class="col-4">
          <button type="submit" class="btn btn-primary">S'abonner</button>
        </div>
      </form>


    </div>
    <div class="footer-infos">
      <div>
        <h5>À propos</h5>
        <ul>
          <li><%= link_to "Qui sommes-nous", root_path %></li>
          <li><%= link_to "Nous contacter", root_path  %></li>
          <li><%= link_to "Communauté", root_path  %></li>
        </ul>
      </div>
      <div>
        <h5>En savoir plus</h5>
        <ul>
          <li><%= link_to "Nos Chefs", root_path  %></li>
          <li><%= link_to "Comment ça marche", root_path %></li>
          <li><%= link_to "FAQ", root_path  %></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-bottom">
    <p>© FoodClass. | Tous droits réservés</p>
  </div>
</div>
