<div class="container-foodclass">
  <div class="navbar-foodclass fixed-top" data-controller="navbar" data-action="scroll@window->navbar#updateNavbar" data-navbar-home-value="<%= action_name == "home"%>">
    <div class="navbar-layout">
      <div class="navbar-layout-links-first">
        <div>
          <%= link_to "Nos Chefs", root_path, class:"nav-link" %>
        </div>
        <div>
          <%= link_to "Communauté", posts_path, class:"nav-link" %>
        </div>
        <div>
          <%= link_to "A propos", a_propos_path, class:"nav-link" %>
        </div>
      </div>
      <div class="navbar-brand-ld">
        <%= link_to "FoodClass.", root_path, class:"foodclass-brand" %>
      </div>
      <div>
        <div class="navbar-layout-links-last">
          <div>
            <% if user_signed_in? && current_page?(mon_profil_path) %>
              <%= link_to "Se déconnecter", destroy_user_session_path, method: :delete, class: "nav-link button-log-out" %>
            <% elsif user_signed_in? && !current_page?(mon_profil_path) %>
              <%= link_to "Mon profil", mon_profil_path, class:"nav-link"%>
            <% else %>
              <%= link_to "Se connecter/S'inscrire", new_user_session_path, class:"nav-link" %>
            <% end %>
          </div>
          <div>
            <%= link_to "Réserver un cours", courses_path, class:"nav-link button-réserver" %>
          </div>
        </div>
      </div>
    </div>
    <div class="dropdown-md-sd">
      <div class="navbar-layout-sd-md">
        <div class="navbar-brand-sd-md">
          <%= link_to "Nos offres", courses_path, class:"button-white" %>
          <%= link_to "FoodClass.", root_path, class:"foodclass-brand" %>
        </div>
        <div id="dropdown-link-sd-md">
          <a class="dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="fas fa-grip-lines"></i>
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <% if user_signed_in? %>
              <li class="dropdown-foodclass"><%= link_to "Mon profil", mon_profil_path, class:"dropdown-item" %></li>
              <li class="dropdown-foodclass"><%= link_to "Se déconnecter", destroy_user_session_path, method: :delete, class: "dropdown-item dropdown-foodclass" %></li>
            <% else %>
              <li class="dropdown-foodclass"><%= link_to "Se connecter/S'inscrire", new_user_session_path, class:"dropdown-item dropdown-foodclass" %></li>
            <% end %>
            <li class="dropdown-foodclass"><%= link_to "Communauté", posts_path, class:"dropdown-item dropdown-foodclass" %></li>
            <li class="dropdown-foodclass"><%= link_to "Nos Chefs", root_path, class:"dropdown-item dropdown-foodclass" %></li>
            <li class="dropdown-foodclass"><%= link_to "Réserver un cours", courses_path, class:"dropdown-item dropdown-foodclass" %></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
