<div class="container-title">
  <div id="show-title" class="highlight-title">
    <h3><%= @course.title %></h3>
  </div>
  <div class="flex-title-show">
    <div>
      <p>Le <%= l(@course.starts_at, format: "%A %d %B %Y, %Hh%M") %></p>
    </div>
    <% if @course.ends_at > Time.now %>
      <div class="btn-flex">
        <button class="button-book" data-bs-toggle="modal" data-bs-target="#bookingModal">Réserver</button>
      </div>
    <% end %>
  </div>
</div>
<div class="container">
  <div class="flex-photo-description">
    <div>
      <%= cl_image_tag @course.photo.key, class: "photo-course" %>
    </div>
    <div class="card-course-lg">
      <%= render 'card_course' %>
    </div>
  </div>
  <div class="container">
    <div class="card-course-md-sd">
      <%= render 'card_course' %>
    </div>
  </div>
</div>
<div class="second-title">
  <div class="background-shape">
    <%= image_tag('shape-show.png') %>
  </div>
  <% if @course.posts.count == 0 %>
    <h3>Sois le premier à poster sur la <span class="highlight-seconde-title">communauté</span></h3>
  <% else %>
    <h3>Les posts de la <span class="highlight-seconde-title">communauté</span></h3>
  <% end %>
  <% @course.posts.each do |post| %>
    <div class="background-color">
      <div class="card-show-post">
        <div class="flex-photo-nickname">
          <%= image_tag post.participation.user.photo, class:"avatar-large" %>
          <span>
            <strong><p><%= post.participation.user.nickname %> a commenté la recette <span class="card-community-title"> <%= link_to post.course.title, course_path(post.course) %></span> par
              <%= post.course.chef.user.first_name %>
              <%= post.course.chef.user.last_name %></strong>
            </p>
            <p><strong> posté <%= l(post.posted_at, format: "%A %d %B %Y à %Hh%M") %></strong></p>
          </span>
        </div>
        <div class="card-content">
          <p><%= post.content %></p>
          <%= cl_image_tag post.photo.key, class: "photo-course-community" %>
          <div class="wrapper-emoji-comms">
            <div>
              <%= render 'shared/emojis', post: post %>
            </div>
            <div>
              <p>
                <a class="text-comments" data-bs-toggle="collapse" href="#collapseComments" role="button" aria-expanded="false" aria-controls="collapseExample">
                  <% if post.comments.count == 0 %>
                    <span style="font-weight:500">Commenter</span>
                  <% else %>
                  <%= pluralize(post.comments.count,"commentaire", "commentaires") %>
                  <% end %>
                </a>
              </p>
            </div>
          </div>
        </div>
        <div class="collapse" id="collapseComments">
          <% post.comments.each do |comment| %>
            <div class="card-community-comments" id="comment-<%= comment.id %>">
              <div class="wrapper-comments">
                <div class="wrapper-comments-avatar">
                  <%= image_tag comment.user.photo, class: "avatar-mini" %>
                  <div class="post-comment-content">
                    <p><%= comment.content %></p>
                  </div>
                </div>
                <div class="button-delete-comment">
                  <% if current_user.comments.include? comment %>
                    <%= link_to post_comment_path(post, comment), method: :delete, data: { confirm: "Es-tu sûr?" } do %>
                      <%= image_tag("cancel.png") %>
                    <% end %>
                  <% end %>
                </div>
              </div>
            </div>
          <% end %>
          <div class="card-content">
            <%= simple_form_for [post, comment = Comment.new], remote: true do |f| %>
              <%= f.input :content, label: false %>
              <div class="button-comment-dropdown">
                  <%= f.submit "Commenter", label: false, class: "button-small" %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>


<%# modal réservation %>
<div class="modal fade" id="bookingModal" tabindex="-1" aria-labelledby="bookingModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="bookingModalLabel">Détails de votre réservation</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div>
          <p><strong> Date du cours : <%= l(@course.starts_at, format: "%A %d %B %Y, %Hh%M") %></strong></p>
          <p><strong>Chef·fe : <%= @course.chef.user.first_name %> <%= @course.chef.user.last_name %></strong></p>
          <p><strong>Temps de réalisation : <%= @course.duration %> minutes</strong></p>
          <p><strong>Difficulté : <%= @course.difficulty %></strong></p>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="button" data-bs-toggle="modal" data-bs-target="#confirmationBookingModal">Confirmer</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="confirmationBookingModal" aria-hidden="true" aria-labelledby="bookingModalToggleLabel2" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="bookingModalToggleLabel2">Réservation confirmée !</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        👩🏽‍🍳Votre réservation a bien été prise en compte. Merci !🧑🏽‍🍳
        <br>
        Vous allez recevoir un email avec le récapitulatif du cours et un lien pour vous connecter à la diffusion.
      </div>
      <div class="modal-footer">
        <button class="button" data-bs-target="#bookingModalToggle" data-bs-dismiss="modal">Fermer</button>
      </div>
    </div>
  </div>
</div>
