<% @posts.each do |post| %>
  <div class="card-community">
    <div class="flex-photo-nickname">
      <%= image_tag post.participation.user.photo, class:"avatar-large" %>
      <span>
        <strong><p><%= post.participation.user.nickname %> a commenté la recette <span class="card-community-title"> <%= link_to post.course.title, course_path(post.course) %></span> par
          <%= post.course.chef.user.first_name %>
          <%= post.course.chef.user.last_name %></strong>
        </p>
        <p><strong> posté <%= l(post.posted_at, format: "%A %d %B %Y à %Hh%M") %></strong></p>
      </span>
    </div>
    <div class="card-content">
      <p><%= post.content %></p>
      <%= cl_image_tag post.photo.key, class: "photo-course-community" %>
    </div>
  </div>
<% end %>
